@tailwind base {
  html {
    @apply font-serif;
  }
}
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.three-d-container {
  overflow: hidden;
  perspective: 500px;
  perspective-origin: center center;
}

.size-fix {
  transform-style: preserve-3d;
  will-change: transform;
  width: 100%;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
}

.scrollable {
  position: absolute;
  will-change: transform;
}
